 
.background {
    width: 100px;
    height: 100px;
    background-color: rgb(48, 71, 146);
    display: inline-block;
    position: absolute;
    top: 450px;
    left: calc(50% - 50px);
    z-index: 1;
}
  .wrapinswiper {
 
    width: 100%;
    margin: auto;
    height: 88vh;
  
    // position: relative;
  }
  .swiper-button-next {
    color: $pink;
  }
   .swiper-button-prev {
    color: $pink;
  }
  .swiper-container {
         
     top:  0px;
     
  }
  .special-svg {
    width: 100vw;
    height: 40vh;
    background-color: greenyellow;
    border: 2px solid red;
  }