.paginator__controls {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 40px;
}
.paginator {
  background-color: inherit;
}
.paginator__control {
  width: 6rem;
  padding: 0.25rem 0;
  margin: 0 1rem;
  border: 1px solid $yellow;
  background: $indigo;
  font: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: $yellow;
}

.paginator__control:hover,
.paginator__control:active {
  color: #fab83f;
  border-color: #fab83f;
}

.paginator__control:focus {
  outline: none;
}
